@(message: String)

@main("VR vs. SJ") {
    <div class="container">
        <div class="row span9">
            <table class="table">
                <thead>
                    <tr id="name">
                        <th class="span3">Myöhässä keskimäärin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="today">
                        <td>Tänään (sekuntia)</td>
                    </tr>
                    <tr id="month">
                        <td>Kuukaudessa (sekuntia)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}